<div class="privacy-policy-statement p-5">
    <center>
        <h1><strong>Privacy Policy</strong></h1>
    </center>
    <br>
    <p class="center">Last updated: June 29, 2022</p>
    <br><br>

    <div class="section">
        <h1><strong>About this Policy</strong></h1>
        <br>
        <class class="section-body">
            <p>This Privacy Policy describes how Leonio Group Human Resource Information System process your data. This
                is in line
                with the company&rsquo;s current Data Privacy Compliance. This includes what information are being
                collected, the
                purpose of collection, and data retention.</p>
            <p>This applies to your use of the Leonio Group HRIS which from now on, we&rsquo;ll call the &ldquo;HRIS
                Service.&rdquo;
                By using the HRIS Service, you agree to the collection and use of information as stated in this policy.
            </p>
        </class>
    </div>

    <div class="section">
        <h1><strong>How we collect your information</strong></h1>
        <br>
        <p>This section discusses the general instances when the HRIS Service collects your personal data.</p>
        <ol type="1">
            <li>When you register for an account in the HRIS Service;</li>
            <li>Through your use of the system</li>
            <ol type="a">
                <li>When you submit forms, approvals, and feedback through your use of the HRIS Service; and</li>
                <li>When you provide your personal information in any medium or form with any representative of Leonio
                    Group.
                </li>
            </ol>
        </ol>
    </div>

    <div class="section">
        <h1><strong>Data we collect about you</strong></h1>
        <br>
        <p>These tables set out the categories of personal data we collect and use.</p>
        <table class="table table-responsive table-bordered">
            <tbody>
                <tr class="table-main-header">
                    <td colspan="2">
                        <p><strong>Collected when you register for an account</strong></p>
                    </td>
                </tr>
                <tr class="table-sub-header">
                    <td>
                        <p><strong>Category</strong></p>
                    </td>
                    <td>
                        <p><strong>Description</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>User Data</p>
                    </td>
                    <td>
                        <p>Personal data that we need to create your account that enables the use of the HRIS Service.
                            This
                            includes your:</p>
                        <ul class="browser-default">
                            <li>name</li>
                            <li>Email address</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-responsive table-bordered">
            <tbody>
                <tr class="table-main-header">
                    <td colspan="2">
                        <p><strong>Collected through your use of the system</strong></p>
                    </td>
                </tr>
                <tr class="table-sub-header">
                    <td>
                        <p><strong>Category</strong></p>
                    </td>
                    <td>
                        <p><strong>Description</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Usage Data</p>
                    </td>
                    <td>
                        <p>Personal data collected and processed when you&rsquo;re accessing or using the HRIS Service.
                            This may
                            include your:</p>
                        <ul class="browser-default">
                            <li>approvals&nbsp;</li>
                            <li>Submitted forms</li>
                            <li>Assigned tasks</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Resume Data</p>
                    </td>
                    <td>
                        <p>If you submitted the Personal Information form and applied for a job vacancy, we will need to
                            access
                            your Personal Information. This may include your:</p>
                        <ul class="browser-default">
                            <li>Name</li>
                            <li>Address</li>
                            <li>Contact number</li>
                            <li>Email address</li>
                            <li>Place of Birth</li>
                            <li>Date of Birth</li>
                            <li>Gender</li>
                            <li>Weight &amp; Height</li>
                            <li>Civil Status</li>
                            <li>Citizenship,</li>
                            <li>Religion</li>
                            <li>Blood Type</li>
                            <li>Family Information (name, date of birth, civil status)</li>
                            <li>Educational Background</li>
                            <ul class="browser-default">
                                <li>School Name</li>
                                <li>Education Level</li>
                                <li>Duration</li>
                                <li>Degree/Course</li>
                            </ul>
                            <li>Government/Board Exams Taken</li>
                            <ul class="browser-default">
                                <li>Exam Name</li>
                                <li>Date of Exam</li>
                                <li>Date of Result</li>
                                <li>Rating &amp; Rank</li>
                            </ul>
                            <li>Employment Record</li>
                            <ul class="browser-default">
                                <li>Company you worked for &amp; duration</li>
                                <li>Reason for leaving</li>
                            </ul>
                            <li>Organization Memberships</li>
                            <ul class="browser-default">
                                <li>Name</li>
                                <li>Position</li>
                                <li>Duration</li>
                            </ul>
                            <li>Character References</li>
                            <li>Emergency contact information</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Offboarding Data</p>
                    </td>
                    <td>
                        <p>When you are offboarding, we collect and use the personal data you provide. This may include
                            your:
                        </p>
                        <ul class="browser-default">
                            <li>Name</li>
                            <li>Clearance and accountabilities in the company</li>
                            <li>Exit Surveys</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Performance Data</p>
                    </td>
                    <td>
                        <p>When you respond to the periodic performance assessments, we collect and use the personal
                            data you
                            provide. This may include your:</p>
                        <ul class="browser-default">
                            <li>Name</li>
                            <li>Position, department &amp; company you are employed</li>
                            <li>Skill ratings</li>
                            <li>KRI ratings</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Training Data</p>
                    </td>
                    <td>
                        <p>When you are assigned to a training program, we collect and use your personal data: This may
                            include
                            your:</p>
                        <ul class="browser-default">
                            <li>Name</li>
                            <li>Skill ratings</li>
                            <li>Nominated Training Program&nbsp;</li>
                            <li>Attendance</li>
                            <li>Training Evaluation</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="section">
        <h1><strong>Our Purpose for using your personal data</strong></h1>
        <br>
        <p>The table below sets out our purpose for processing your personal data, our justifications, and the
            categories of
            personal data which we use for each purpose.</p>
        <p>Leonio group processes your personal data for any of the purposes declared in this Privacy Policy, based on
            any of
            the following:</p>
        <ol>
            <li>Your consent as Data Subject</li>
            <li>Fulfillment of legal obligations</li>
            <li>Leonio Group&rsquo;s legitimate interest of processing your personal information in a certain way, which
                is
                necessary for the processes in the organization. For example, using your Resume Data to process your job
                application. Another example is using your Performance Data to identify training opportunities.</li>
        </ol>
        <table class="table table-responsive table-bordered ">
            <tbody>
                <tr class="table-main-header">
                    <td>
                        <p><strong>Purpose for processing your data</strong></p>
                    </td>
                    <td>
                        <p><strong>Categories of personal data used for the purpose</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>To provide the HRIS Service</p>
                    </td>
                    <td>
                        <p>All Categories of Data</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>To conduct business planning and reporting</p>
                    </td>
                    <td>
                        <p>All Categories of Data</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>To process job applications from applicants</p>
                    </td>
                    <td>
                        <ul class="browser-default">
                            <li>User Data</li>
                            <li>Resume Data</li>
                            <li>Usage Data</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>To process offboarding</p>
                    </td>
                    <td>
                        <ul class="browser-default">
                            <li>User Data</li>
                            <li>Usage Data</li>
                            <li>Offboarding Data</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>To conduct employee evaluation and nominate training programs</p>
                    </td>
                    <td>
                        <ul class="browser-default">
                            <li>User Data</li>
                            <li>Usage Data</li>
                            <li>Performance Data</li>
                            <li>Training Data</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="section">
        <h1><strong>Who has Access To Your Personal Data</strong></h1>
        <br>
        <p>As part of protecting your personal data safe, we limit access to your data to authorized personnel only
            which are
            necessary to process your data to accomplish the purposes as stated in Section IV. The table below shows who
            has
            access to each category of data.</p>
        <table class="table table-responsive table-bordered ">
            <tbody>
                <tr class="table-main-header">
                    <td colspan="2">
                        <p><strong>Collected through your use of the system</strong></p>
                    </td>
                </tr>
                <tr class="table-sub-header">
                    <td>
                        <p><strong>Category</strong></p>
                    </td>
                    <td>
                        <p><strong>Who has access</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>User Data</p>
                    </td>
                    <td>
                        <ul class="browser-default">
                            <li>CHROD Division</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Usage Data</p>
                    </td>
                    <td>
                        <ul class="browser-default">
                            <li>CHROD Division</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Resume Data</p>
                    </td>
                    <td>
                        <ul class="browser-default">
                            <li>HR &amp; approvers of the application</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Offboarding Data</p>
                    </td>
                    <td>
                        <ul class="browser-default">
                            <li>CHROD Division</li>
                            <li>HR Supervisor</li>
                            <li>Department Heads&nbsp;</li>
                            <li>Business Unit Heads</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Performance Data</p>
                    </td>
                    <td>
                        <ul class="browser-default">
                            <li>Department Head</li>
                            <li>CHROD Division</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Training Data</p>
                    </td>
                    <td>
                        <ul class="browser-default">
                            <li>HR Specialist</li>
                            <li>Department Heads</li>
                            <li>Business Unit Head</li>
                            <li>Employees</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="section">
        <h1><strong>Data Retention</strong></h1>
        <br>
        <p>Any category of personal data given to will be retained for as long as necessary to provide you with the HRIS
            Service
            and for the following purposes:</p>
        <ul class="browser-default">
            <li>Legitimate business purposes of Leonio Group Corporation</li>
            <li>Legal obligations</li>
        </ul>
    </div>

    <div class="section">
        <h1><strong>Keeping your personal data safe</strong></h1>
        <br>
        <p>We value the safety of your personal data. To keep your personal data safe, we:</p>
        <ul class="browser-default">
            <li>use hashing technologies for your passwords to ensure that noone has access to it.&nbsp;</li>
            <li>Limit access to your personal data to authorized users only as stated in Section V.&nbsp;</li>
        </ul>
        <p>However, please note that no system is ever completely secure.&nbsp;To protect your user account, we
            encourage you
            to:</p>
        <ul class="browser-default">
            <li>Use a strong password which is intended only for your account in the HRIS Service.&nbsp;</li>
            <li>Never share your password to anyone</li>
            <li>Log out from the system once you&rsquo;re done using the HRIS Service</li>
            <li>Limit access to your personal computer and browser</li>
        </ul>
    </div>

    <div class="section">
        <h1><strong>Changes to this Policy</strong></h1>
        <br>
        <p>We may occasionally make changes to this policy. Please be reminded to review this page periodically.</p>
    </div>

    <div class="section">
        <h1><strong>Contact Us</strong></h1>
        <br>
        <p>For any auqestions or concerns about this policy, do not hesitate to contact us via email
            privacy@leoniogroup.com.
        </p>
    </div>

</div>