
<nav class="navbar-default navbar-side sidebar-collapse" role="navigation" >
	<div class="">
		<ul class="nav" id="main-menu">

			<li class="sidenav-user-information">

			</li>
			{{!-- <li>
				<a class="waves-effect waves-dark" href="/Home"><i class="fa fa-home"></i>
					Home</a>
			</li> --}}
			<li>
				<a class="waves-effect waves-dark" href="/TaskTracker"><i class="fa fa-tasks"></i>
					Tasks</a>
			</li>
			<li id="dashboard-report"></li>
			<li id="reports">
				<a class="waves-effect waves-dark" id="a-dashboard-report" href="/Dashboard">
					<i class="fa fa-dashboard"></i>Dashboard
				</a>
			</li>
			<li class="reports-dropdown">
				<a href="#" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i> Reports<span
					class="fa arrow"></span></a>
				<ul class="nav nav-second-level" id="reports-dropdown-links">
					<li>
						<a href="/Report/AnnualRecruitmentReport">Annual Recruitment Report</a>
					</li>
					<li>
						<a href="#" class="pb-2">Annual Offboarding Report<span class="fa arrow" style="margin:0;"></span></a>
						<ul class="nav nav-second-level" id="reports-dropdown-links">
							<li>
								<a href="/Report/AnnualOffboardingBusinessReport">Offboarding Report - Business Unit</a>
							</li>
							<li>
								<a href="/Report/AnnualOffboardingDepartmentReport">Offboarding Report - Department</a>
							</li>
						</ul>
					</li> 
					<li>
						<a href="#" class="pb-2">Annual Performance Report<span class="fa arrow" style="margin:0;"></span></a>
						<ul class="nav nav-second-level" id="reports-dropdown-links">
							<li>
								<a href="/Report/AnnualPerformanceCycleReport">Performance Report - Review Cycle</a>
							</li>
							<li>
								<a href="/Report/AnnualPerformanceListReport">Performance Report - Individual</a>
							</li>
							<li>
								<a href="/Report/AnnualEmployeeSatisfactionReport">Performance Report - Employee Satisfaction</a>
							</li>
						</ul>
					</li> 
					<li><li>
						<a href="#" class="pb-2">Annual Employee Training Report<span class="fa arrow" style="margin:0;"></span></a>
						<ul class="nav nav-second-level" id="reports-dropdown-links">
							<li>
								<a href="/Report/AnnualTrainingBUReport">Training Report - Business Unit</a>
							</li>
							<li>
								<a href="/Report/AnnualTrainingDeptReport">Training Report - Department</a>
							</li>
							<li>
								<a href="/Report/AnnualTrainingPosReport">Training Report - Position</a>
							</li>
						</ul>
					</li> 
				</ul>
			</li>
			<li class="side_prf">
				<a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> Personnel Requisitions<span
					class="fa arrow"></span></a>
				<ul class="nav nav-second-level" id="side_prf">
				</ul>
			</li>

			<li class="side_performance">
				<a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> Peformance Management<span
						class="fa arrow"></span></a>
				<ul class="nav nav-second-level" id="side_performance">
				</ul>
			</li>

			<li class="side_offboarding">
				<a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> Offboarding<span
						class="fa arrow"></span></a>
				<ul class="nav nav-second-level" id="side_offboarding">
					<li>
						<a href="/form/ClearanceForm">Clearance Form</a>
					</li>
				</ul>
			</li>

			<li class="side_tnf">
				<a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>Employee Trainings <span
						class="fa arrow"></span></a>
				<ul class="nav nav-second-level" id="side_tnf">
					<li>
						<a href="/get_training_prescription_page">Training Prescription</a>
					</li>

				</ul>
			</li>


			<li class="side_skills">
				<a href="#" class="waves-effect waves-dark">	
					<i class="fa fa-sitemap"></i> Skills Inventory<span class="fa arrow"></span>
				</a>
				<ul class="nav nav-second-level" id="side_skills"> </ul>
			</li>
			<li id="my_job_applications">
				
			</li>
			<li id="job_listings">
				<a class="waves-effect waves-dark" href="/JobListing"><i class="fa fa-list-alt"></i>Job Listings</a>
			</li>
			<li id="automation_schedule">
				<a class="waves-effect waves-dark" href="/AutomationSchedule"><i class="fa fa-cogs"></i>Automation Schedule</a>
			</li>


			{{!-- <li class="side_accountability">
				<a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> Clearance
					Accountability<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level" id="side_accountability">

				</ul>
			</li> --}}


			{{!-- <li>
				<a class=" waves-effect waves-dark" href="/template/dashboard"><i class="fa fa-dashboard"></i>
					Dashboard</a>
			</li>
			<li>
				<a href="/template/ui-elements" class="waves-effect waves-dark"><i class="fa fa-desktop"></i> UI
					Elements</a>
			</li>
			<li>
				<a href="/template/chart" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i>
					Charts</a>
			</li>
			<li>
				<a href="/template/tab-panel" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i> Tabs &
					Panels</a>
			</li>

			<li>
				<a href="/template/table" class="waves-effect waves-dark"><i class="fa fa-table"></i> Responsive
					Tables</a>
			</li>
			<li>
				<a href="/template/form" class="waves-effect waves-dark"><i class="fa fa-edit"></i> Forms </a>
			</li> --}}


			{{!-- <li>
				<a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> Multi-Level
					Dropdown<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="#">Second Level Link</a>
					</li>
					<li>
						<a href="#">Second Level Link</a>
					</li>
					<li>
						<a href="#">Second Level Link<span class="fa arrow"></span></a>
						<ul class="nav nav-third-level">
							<li>
								<a href="#">Third Level Link</a>
							</li>
							<li>
								<a href="#">Third Level Link</a>
							</li>
							<li>
								<a href="#">Third Level Link</a>
							</li>

						</ul>

					</li>
				</ul>
			</li> --}}
			{{!-- <li>
				<a href="/template/empty" class="waves-effect waves-dark"><i class="fa fa-fw fa-file"></i> Empty
					Page</a>
			</li> --}}
		</ul>

	</div>

</nav>


<!-- /. NAV SIDE  -->