<div class="privacy-policy-statement p-5">
    <center>
        <h1><strong>Terms and Conditions</strong></h1>
    </center>
    <br>
    <p class="center">Last updated: June 29, 2022</p>
    <br><br>

    <div class="section">
        <class class="section-body">
            <p>I hereby certify that all information I have provided here is true and correct,
                and any misinformation or misinterpretation or misrepresentation of facts found after this company
                has employed me would be sufficient
                cause for termination of my services.</p>
            <p>I also authorize the company to conduct a Background Investigation for purposes of verifying any of
                the information I provided herein.
                I understand that such Background Investigation Report may contain information about my character,
                personal reputation, affiliations,
                and other personal information.</p>
            <p>Upon my written request, I will be advised of the name and address of each employment reporting
                agency from which an employment
                report or investigative report may have been obtained. I also voluntarily authorize Circle
                Corporate, Inc. and a vendor on its behalf, to
                perform reference checks and inquiries are necessary in order to verify information provided by me
                in my employment application. I
                hereby release from liability all persons or entities requesting or supplying such information.
                Moreover, I understand that my
                employment with the Firm may be terminated with immediate effect should any information provided
                herein be proven untrue.</p>
        </class>
    </div>
</div>