<div class="col s12 step step-3">
    <div class="row">
        <div class="card-action card-title center">
            II. EDUCATIONAL BACKGROUND
        </div>
    </div>
    <div id="educationalLevelInfoSection">
        <div class="col s12">
            <div class="form-group col s2">
                <label>Level</label>
            </div>
            <div class="form-group col s2">
                <label>Name of School</label>
            </div>
            <div class="form-group col s2">
                <label>From</label>
            </div>
            <div class="form-group col s2">
                <label>To</label>
            </div>
            <div class="form-group col s3">
                <label>Degree/Course Finished</label>
            </div>
            <div class="form-group col s1">
                <label> &nbsp; </label>
            </div>
        </div>

        {{!-- fields will be added here by clicking the button --}}

    </div>
    <a class="waves-effect waves-light btn addEducationLevelInfo"><i class="material-icons left">add</i>Add a School
        Record</a>
    <br><br>

    <div class="row">
        <div class="col s12">
            <div class="form-group col s12">
                <label for="award">Please indicate any Special Award, Citation, or Scholarships you received</label>
                <input id="award" type="text" class="validate" name="award" value="" placeholder = "optional">
            </div>
        </div>
    </div>


    <div id="ExamsSection">
        <div class="row">
            <div class="form-group col s12">
                <h5>Government / Board Exams Taken</h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col s3">
                <label>Examination</label>
            </div>
            <div class="form-group col s2">
                <label>Date of Exam</label>
            </div>
            <div class="form-group col s2">
                <label>Date Passed</label>
            </div>
            <div class="form-group col s2">
                <label>Rating</label>
            </div>
            <div class="form-group col s2">
                <label>Rank</label>
            </div>
            <div class="form-group col s1">
                <label> </label>
            </div>
        </div>

        {{!-- fields will be added here by clicking the button --}}

    </div>
    <a class="waves-effect waves-light btn addExamInfo"><i class="material-icons left">add</i>Add an Exam</a>
    <br><br>

    <div class = "card-action"> 
        {{!-- divider lang --}}
    </div>

    <div id="trainingsAndSeminarsSection">
        <div class="row">
            <div class="form-group col s12">
                <h5>Trainings and Seminars Attended</h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col s5">
                <label>Title of Seminar</label>
            </div>
            <div class="form-group col s4">
                <label>Organizer</label>
            </div>
            <div class="form-group col s2">
                <label>Date</label>
            </div>
            <div class="form-group col s1">
                <label> </label>
            </div>
        </div>
        
         {{!-- fields will be added here by clicking the button --}}

    </div>
    <a class="waves-effect waves-light btn addtrainingAndSeminarsInfo"><i class="material-icons left">add</i>Add a Training/Seminar Attended</a>
    <br><br>

</div>