<div class="col s12 step step-4">
    <div id="employmentRecordSection">
        <div class="row">
            <div class="card-action card-title center">
                III. EMPLOYMENT RECORD
            </div>
        </div>
        <div class="row">
                <div class="form-group col s4">
                    <label>Name & Address of the Company</label>
                </div>
                <div class="form-group col s2">
                    <label>Nature of Business</label>
                </div>
                <div class="form-group col s1">
                    <label>From</label>
                </div>
                <div class="form-group col s1">
                    <label>To</label>
                </div>
                <div class="form-group col s2">
                    <label>Position Held</label>
                </div>
                <div class="form-group col s1">
                    <label>Reason for Leaving</label>
                </div>
                <div class="form-group col s1">
                    <label> </label>
                </div>
        </div>

         {{!-- fields will be added here by clicking the button --}}
        
    </div>
    <a class="waves-effect waves-light btn addEmploymentRecordInfo"><i class="material-icons left">add</i>Add an Employment Record</a>
    

</div>