<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application Form</title>

    {{!-- head stylesheets and js --}}
    {{> partials/headlinks}}

    <script src="/js/PersonalInformationFormPage.js" type="text/javascript" defer> </script>
    <script src="/js/PersonalInformationFormPage_Update.js" type="text/javascript" defer> </script>


</head>

<body>
    <div id="wrapper">

        {{> partials/topnav}}
        {{> partials/sidenav}}

        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                    Personal Information Form
                </h1>
            </div>
            <div id="page-inner">
                
                 {{> forms/PersonalInformationForm }}

                <!-- /. PAGE WRAPPER  -->
            </div>
            <!-- /. WRAPPER  -->

            <!-- JS Scripts-->
            {{> partials/endOfBodyJSScripts}}


</body>

</html>