<div class="row">
    <div class="col-lg-12">
        <form class="card" method="post" action="/submitFinalInterviewForm">
            <div class="card-action card-title center">
                Final Interview Form
            </div>

            <div class="applicationID">
                <input type="text" id="application_id" name="application_id" value = "{{applicationID}}" hidden>
            </div>

            <div class="card-action">
                <center>Organizational Culture Fit</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="org_fit">Rating</label>
                            <select class="org_fit" id="org_fit" name="org_fit" required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5">5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="org_fit_comments">Comments</label>
                            <input id="org_fit_comments" name="org_fit_comments" type="text" class="validate"
                                placeholder="Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Personal Core Values Displayed</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="core_values">Rating</label>
                            <select class="core_values" id="core_values" name="core_values" required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5">5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="core_values_comments">Comments</label>
                            <input id="core_values_comments" name="core_values_comments" type="text" class="validate"
                                placeholder="Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Leadership Attributes</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="leadership">Rating</label>
                            <select class="leadership" id="leadership" name="leadership" required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5">5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="leadership_comments">Comments</label>
                            <input id="leadership_comments" name="leadership_comments" type="text" class="validate"
                                placeholder="Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Innovation/Entrepreneurship</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="innovation">Rating</label>
                            <select class="innovation" id="innovation" name="innovation" required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5">5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="innovation_comments">Comments</label>
                            <input id="innovation_comments" name="innovation_comments" type="text" class="validate"
                                placeholder="Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Accountability and Stewardship</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="accountability">Rating</label>
                            <select class="accountability" id="accountability" name="accountability" required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5">5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="accountability_comments">Comments</label>
                            <input id="accountability_comments" name="accountability_comments" type="text"
                                class="validate" placeholder="Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Personal Effectiveness</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="personal_effectiveness">Rating</label>
                            <select class="personal_effectiveness" id="personal_effectiveness"
                                name="personal_effectiveness" required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5">5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="personal_effectiveness_comments">Comments</label>
                            <input id="personal_effectiveness_comments" name="personal_effectiveness_comments"
                                type="text" class="validate" placeholder="Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Potential for Growth/To Assume Next Higher Position</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="potential_growth">Rating</label>
                            <select class="potential_growth" id="potential_growth" name="potential_growth" required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5">5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="potential_growth_comments">Comments</label>
                            <input id="potential_growth_comments" name="potential_growth_comments" type="text"
                                class="validate" placeholder="Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Overall Impression</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="overall_impression">Rating</label>
                            <select class="overall_impression" id="overall_impression" name="overall_impression"
                                required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5">5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="overall_impression_comments">Comments</label>
                            <input id="overall_impression_comments" name="overall_impression_comments" type="text"
                                class="validate" placeholder="Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Other Comments</center>

                <div class="col s12">

                    <div class="row">
                        <div class="form-group col s12">
                            <br>
                            <label for="other_comments">Areas For Improvement and Recommendation</label>
                            <input id="other_comments" name="other_comments" type="text" class="validate"
                                placeholder="Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Interview Assessment</center>

                <div class="col s12">

                    <div class="row">
                        <div class="form-group col s3">
                            <br>
                            <label for="verdict">Verdict</label>
                            <select class="verdict" name="verdict" id="verdict" required>
                                <option value="Approved" selected>Approve</option>
                                <option value="Disapproved">Disapprove</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>


            <div class="card-action">
                <div class="row">
                    <center>
                        <button class="waves-effect waves-light btn" id="submit" type="submit">Submit</button>
                    </center>
                </div>
            </div>
        </form>
    </div>
</div>