<div class="row">
    <div class="col-lg-12">
        <form class="card" method="post" action="/submitFunctionalInterviewForm">
            <div class="card-action card-title center">
                Functional In-Depth Interview Form
            </div>

            <div class="applicationID">
                <input type="text" id="application_id" name="application_id" value = "{{applicationID}}" hidden>
            </div>

            <div class="card-action">
                <center>Practical Experience</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="practical_experience">Rating</label>
                            <select class="practical_experience" id="practical_experience" name="practical_experience"
                                required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5" >5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="practical_experience_comments">Comments</label>
                            <input id="practical_experience_comments" name="practical_experience_comments" type="text"
                                class="validate" placeholder = "Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Functional Expertise/Job Mastery</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="functional_expertise">Rating</label>
                            <select class="functional_expertise" id="functional_expertise" name="functional_expertise"
                                required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5" >5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="functional_expertise_comments">Comments</label>
                            <input id="functional_expertise_comments" name="functional_expertise_comments" type="text"
                                class="validate" placeholder = "Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Management Skills</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="management_skills">Rating</label>
                            <select class="management_skills" id="management_skills" name="management_skills" required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5" >5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="management_skills_comments">Comments</label>
                            <input id="management_skills_comments" name="management_skills_comments" type="text"
                                class="validate" placeholder = "Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Responsibility and Resourcefulness</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="response_resource">Rating</label>
                            <select class="response_resource" id="response_resource" name="response_resource" required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5" >5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="response_resource_comments">Comments</label>
                            <input id="response_resource_comments" name="response_resource_comments" type="text"
                                class="validate" placeholder = "Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Personal/Self-Management</center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="self_management">Rating</label>
                            <select class="self_management" id="self_management" name="self_management" required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5" >5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="self_management_comments">Comments</label>
                            <input id="self_management_comments" name="self_management_comments" type="text"
                                class="validate" placeholder = "Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Overall Impression </center>

                <div class="col s12">
                    <div class="row">
                        <br>
                        <div class="input-group col  s3">
                            <label for="impression">Rating</label>
                            <select class="impression" id="impression" name="impression" required>
                                <option value="" disabled selected> Select Rating</option>
                                <option value="5" >5 - Outstanding</option>
                                <option value="4">4 - Above Average</option>
                                <option value="3">3 - Meets Expecations</option>
                                <option value="2">2 - Below Expectations</option>
                                <option value="1">1 - Needs Improvement</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col s12">
                            <label for="impression_comments">Comments</label>
                            <input id="impression_comments" name="impression_comments" type="text" class="validate" placeholder = "Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Other Comments</center>

                <div class="col s12">

                    <div class="row">
                        <div class="form-group col s12">
                            <br>
                            <label for="other_comments">Areas For Improvement and Recommendation</label>
                            <input id="other_comments" name="other_comments" type="text" class="validate" placeholder = "Optional">
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>

            <div class="card-action">
                <center>Interview Assessment</center>

                <div class="col s12">

                    <div class="row">
                        <div class="form-group col s3">
                            <br>
                            <label for="verdict">Verdict</label>
                            <select class="verdict" name="verdict" id="verdict" required>
                                <option value="Approved" selected>Approve</option>
                                <option value="Disapproved">Disapprove</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>


            <div class="card-action">
                <div class="row">
                    <center><button class="waves-effect waves-light btn" id="submit" type="submit">Submit</button></center>
                </div>
            </div>
        </form>
    </div>
</div>