<div class="row">
    <div class="col-lg-12">
        <form class="card">
            <div class="card-action card-title center">
                Personnel Requisition Form
            </div>



            <div id="general-details-card" class="card card-action col s6">
                <div class="  center">
                    General Details
                </div>
                <div class="">
                    <div class="form-group col s8">
                        <label for="position_title">Position Title</label>
                        <input placeholder="" id="position_title" type="text" class="validate">

                    </div>
                    <div class="form-group col s4">
                        <label for="requisition_number">Requisition #</label>
                        <input id="requisition_number" type="text" class="validate">

                    </div>
                </div>
                <div class="">
                    <div class="form-group col s8">
                        <label for="position_level">Position Level</label>
                        <input placeholder="" id="position_level" type="text" class="validate">

                    </div>
                    <div class="form-group col s4">
                        <label for="JobCodeLevel">Job Code/Level</label>
                        <input id="JobCodeLevel" type="text" class="validate">

                    </div>
                </div>
                <div class="">
                    <div class="form-group col s8">
                        <label for="business_unit">Business Unit/Company</label>
                        <input placeholder="" id="business_unit" type="text" class="validate">

                    </div>
                    <div class="form-group col s4">
                        <label for="headcount">Headcount</label>
                        <input id="headcount" type="number" class="validate">

                    </div>
                </div>
                <div class="">
                    <div class="form-group col s8">
                        <label for="department">Department</label>
                        <input placeholder="" id="department" type="text" class="validate">
                    </div>
                    <div class="form-group col s4">
                        <label for="request_date" class="form-control-label">Request Date</label>
                        <input id="request_date" class="validate" type="date">
                    </div>
                </div>
                <div class="">
                    <div class="form-group col s8">
                        <label for="direct_supervisor" class="form-control-label">Direct Supervisor</label>
                        <input placeholder="" id="direct_supervisor" type="text" class="validate">
                    </div>
                    <div class="form-group col s4">
                        <label for="target_start_date" class="form-control-label">Target Start Date</label>
                        <input id="target_start_date" class="form-control-label" type="date">
                    </div>
                </div>
                <div class="">
                    <div class="form-group col s8">
                        <label for="bill_to" class="form-control-label">Bill To (Company)</label>
                        <input placeholder="" id="bill_to" type="text" class="validate">
                    </div>
                    <div class="form-group col s4  ">

                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">In T.O.?</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-group col s8">
                        <label for="location" class="form-control-label">Location</label>
                        <input placeholder="" id="location" type="text" class="validate">
                    </div>
                </div>
            </div>





            <div id="type-of-employement-card" class="card card-action col s6" style="">
                <div class="  center">
                    Type of Employment
                </div>
                
                    <div class="">
                        <div class="form-group col s8">

                        </div>
                        <div class="form-group col s4">
                            <label class="form-control-label">Length of Assignment</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group col s6">
                            <input class="form-check-input" type="checkbox" id="fulltime">
                            <label class="form-check-label" for="fulltime">fulltime</label>
                        </div>
                        <div class="form-group col s6">
                            <input id="fulltimeLength" class="validate" type="text">
                        </div>


                    </div>
                    <div class="">
                        <div class="form-group col s3">
                            <input class="form-check-input" type="checkbox" id="contractual">
                            <label class="form-check-label" for="contractual">Contractual</label>
                        </div>
                        <div class="form-group col s2">
                            <input id="contractualLength" class="validate" type="text">
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group col s3">
                            <input class="form-check-input" type="checkbox" id="projectBased">
                            <label class="form-check-label" for="projectBased">Project Based</label>
                        </div>
                        <div class="form-group col s3">
                            <input id="projectBasedLength" class="validate" type="text">
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group col s3">
                            <input class="form-check-input" type="checkbox" id="probationary">
                            <label class="form-check-label" for="probationary">Probationary</label>
                        </div>
                        <div class="form-group col s3">
                            <input id="probationaryLength" class="validate" type="text">
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group col s3">
                            <input class="form-check-input" type="checkbox" id="ojt">
                            <label class="form-check-label" for="ojt">OJT</label>
                        </div>
                        <div class="form-group col s3">
                            <input id="ojtLength" class="validate" type="text">
                        </div>
                    </div>

                    <div class="">
                        <label for="type_of_employment" class="form-control-label">Purpose of Request</label>
                    </div>
                    <div class="">
                        <input class="form-check-input" type="checkbox" id="additional">
                        <label class="form-check-label" for="additional">Additional</label>
                    </div>
                    <div class="">
                        <input class="form-check-input" type="checkbox" id="replacement">
                        <label class="form-check-label" for="replacement">Replacement</label>
                    </div>
                    <div class="">
                        <input class="form-check-input" type="checkbox" id="newPosition">
                        <label class="form-check-label" for="newPosition">New Position</label>
                    </div>
                    <div class="">
                        <label class="form-check-label" for="purposeDetails">Details</label>
                        <input placeholder="" id="purposeDetails" type="text" class="">
                    </div>

               
                {{!-- <div class="form-group col s3">
                    <div class="row">
                        <label for="type_of_employment" class="form-control-label">Purpose of Request</label>
                    </div>
                    <div class="row">
                        <input class="form-check-input" type="checkbox" id="additional">
                        <label class="form-check-label" for="additional">Additional</label>
                    </div>
                    <div class="row">
                        <input class="form-check-input" type="checkbox" id="replacement">
                        <label class="form-check-label" for="replacement">Replacement</label>
                    </div>
                    <div class="row">
                        <input class="form-check-input" type="checkbox" id="newPosition">
                        <label class="form-check-label" for="newPosition">New Position</label>
                    </div>
                    <div class="row">
                        <label class="form-check-label" for="purposeDetails">Details</label>
                        <input placeholder="" id="purposeDetails" type="text" class="">
                    </div>
                </div> --}}
            </div>

            <div class="row">
                <div class="card-action  ">
                    Job Desctiption
                </div>
                <textarea placeholder="" id="jobDescription" type="" class=""></textarea>
            </div>
            <div class="row">
                <div class="card-action  ">
                    Position Requirements
                </div>
                <textarea placeholder="" id="positionRequirements" type="" class=""></textarea>
            </div>
            <div class="row">
                <div class="card-action  ">
                    TODO: <br>
                    • Tools of Trade/ Space req/PPE : What is this? not mentioned.<br>
                    • Approvals: who are (Corporate HR and OD Director) and (Group HR and OD head) <br>
                    // not mentioned in the flow during interview i think. <br>
                    also not sure sa format ng name/signature


                </div>
            </div>


            <div class="clearBoth"></div>

            </forms>
    </div>
</div>